{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css'%}">
</head>
<body style="background-color: #134361;">
<div class="modal modal-signin position-static d-block  py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow-lg">
      <div class="modal-header p-5 pb-4 border-bottom-0 mx-auto">
        <h2 class="fw-bold mb-0 ">Авторизуйтесь</h2>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-4" id="floatingInput" placeholder="UserName" required>
            <label for="floatingInput">Логин пользователя</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Пароль</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Вход</button>
          <hr class="my-4">
          <div class="py-4">
            <img class="mt-4 img-fluid mx-auto d-block" src="{% static 'main/img/full logo.png'%}" alt="Horizon_text_and_logo" style="height: 250px">
          </div>
        </form>
      </div>
    </div>
  </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark" style="background-color: #134361;">
    <div class="container-fluid col-sm-10">
      <div class="mx-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link me-3" href="admin">Администрирование</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<script src="{% static 'main/js/bootstrap.bundle.js'%}"></script>
</body>
</html>
