{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="{% static 'main/img/logo.png'%}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css'%}">
  <!-- Стили из Датабазы-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
  <!-- Стили из Датабазы-->
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #134361;">
    <div class="container-fluid col-sm-10">
      <a class="navbar-brand" href="{% url 'index' %}">Главная</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Выпадающий список</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="#">Ссылка</a></li>
              <li><a class="dropdown-item" href="#">Ссылка</a></li>
              <li><a class="dropdown-item" href="#">Ссылка</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'doc_base' %}">База данных</a>
          </li>
        </ul>
        <span class="text-white">Пользователь {{ request.user }}</span>
        <!-- Кнопка-триггер модального окна -->
        <button  type="button" class="btn ms-3 btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Выход</button >
        <!-- /Кнопка-триггер модального окна -->
      </div>
    </div>
  </nav>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Подтвердите ваше действие</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <p>Вы точно хотите выйти?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
        <a type="button" class="btn btn-danger" href="{% url 'logout' %}">Выход</a>
      </div>
    </div>
  </div>
</div>
<!-- /Модальное окно -->

  <nav class="navbar navbar-expand-lg shadow" style="background-color: #EFEFEF;">
    <div class="container-fluid col-sm-10" style="height: 25px;">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Ссылка</a>
          <a class="nav-link" href="#">Ссылка</a>
          <a class="nav-link" href="#">Ссылка</a>
          <a class="nav-link" href="#">Ссылка</a>
          <a class="nav-link" href="#">Ссылка</a>
        </div>
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="d-flex align-items-center p-2 my-3 bg-purple rounded">
      <img class="me-3 img-fluid" src="{% static 'main/img/Horizon_text_and_logo.png'%}" alt="Horizon_text_and_logo">
    </div>
  </main>



  <main class="container" >
    <div class="my-2 p-4 rounded shadow " style="background-color: #F6F3F3;">
      {% block content %}{% endblock %}
    </div>
  </main>

  <main class="container" >
    <div class="my-5 p-3">

    </div>
  </main>

  <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark" style="background-color: #134361;">
    <div class="container-fluid col-sm-10">
      <div class="mx-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link me-3" href="#">Ссылка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="admin">Администрирование</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script src="{% static 'main/js/jquery.min.js'%}"></script>
  <script src="{% static 'main/js/bootstrap.bundle.js'%}"></script>
<!--Для таблиц-->
  <script src="{% static 'main/js/table.js'%}"></script>
  <script src="{% static 'main/js/jquery-3.5.1.js'%}"></script>
  <script src="{% static 'main/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'main/js/dataTables.bootstrap5.min.js'%}"></script>
  <script src="{% static 'main/js/dataTables.buttons.min.js'%}"></script>
  <script src="{% static 'main/js/buttons.bootstrap5.min.js'%}"></script>
  <script src="{% static 'main/js/jszip.min.js'%}"></script>
  <script src="{% static 'main/js/pdfmake.min.js'%}"></script>
  <script src="{% static 'main/js/vfs_fonts.js'%}"></script>
  <script src="{% static 'main/js/buttons.html5.min.js'%}"></script>
  <script src="{% static 'main/js/buttons.print.min.js'%}"></script>
  <script src="{% static 'main/js/buttons.colVis.min.js'%}"></script>
<!--Для таблиц-->


</body>
</html>

