{% extends 'main/main_template.html' %}

{% block title %} База данных {% endblock %}

{% block content %}

      <div class="pb-2 mb-2 row">
            <div class="d-flex col-auto col-2">
                <div class="dropdown">
                  <a class="btn btn-sm btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Таблица 1
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'table_1' %}">Таблица 1</a></li>
                    <li><a class="dropdown-item" href="{% url 'table_2' %}">Таблица 2</a></li>
                  </ul>
                </div>
            </div>
            <div class="d-flex col-auto col-7">

            </div>
            <div class="col-auto col-3">
                <form class="d-flex" role="search" action="{% url 'table_1' %}" method="get">
                    <input class="form-control form-control-sm me-2" type="search" placeholder="Поиск">
                    <button class="btn btn-sm btn-outline-success" type="search">Поиск</button>
                </form>
            </div>
      </div>

<!--Шапка таблицы-->
        <table class="table table-hover" id="table1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Описание</th>
              <th scope="col">Тип</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
              {% for el in docs %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ el.name }}</td>
                        <td>{{ el.description }}</td>
                        <td>{{ el.doc_type }}</td>
                    </tr>
              {% endfor %}
          </tbody>
        </table>

{% endblock %}
