{% extends 'main/main_template.html' %}

{% block title %} Таблица 1 {% endblock %}

{% block content %}

<!--<button class="btn btn-sm btn-danger" style="float:left;margin-right:20px;position:relative;z-index:99;" ><strong>Выбрана таблица 1</strong></button>-->
                <button class="btn btn-sm btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" style="float:left;margin-right:20px;position:relative;z-index:99;">Выбрать таблицу</button>
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Выберите нужную таблицу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
                        Таблица 2
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'table_1' %}">Таблица 1</a></li>
                        <li><a class="dropdown-item" href="{% url 'table_2' %}">Таблица 2</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
<!--Шапка таблицы-->
        <table id="example" class="table table-striped table-hover" style="width:100%">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Описание</th>
              <th scope="col">Тип</th>
            </tr>
        </thead>
        <tbody>
            {% for el in docs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ el.name }}</td>
                    <td>{{ el.description }}</td>
                    <td>{{ el.doc_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Описание</th>
              <th scope="col">Тип</th>
            </tr>
        </tfoot>
    </table>

{% endblock %}

